body {background-color:black; font-family:arial; color:white}
h1{
    color:grey; 
    font-family:verdana;

}
.maindiv {
    background-color: white; 
    color:black; 
    width: 500px; 
    padding: 20px; 
    border-radius: 25px; 
    justify-content: center ;
    /* text-align: center; */
    display: grid;

}
label {
    margin-right: 5px; 
    text-align: left;
    margin-left: 60px

  }
input {
    
    margin: 20px 0px 8px 40px; 
    
    
}
#rate {
    margin: 5px; 

}
select {
    margin: 20px 0px 8px 10px; 
}

button {
    margin: 20px 0px 8px 60px;
}

footer {
    margin: 20px;
    justify-content: left; 
}
